/.utmp
/.vscode
/Art-Gallery.slnx
/Assembly-CSharp-Editor-firstpass.csproj
/Assembly-CSharp-Editor.csproj
/Assembly-CSharp-firstpass.csproj
/Assembly-CSharp.csproj
/Build
/Library
/Logs
/PhotonChat.csproj
/PhotonRealtime.csproj
/PhotonUnityNetworking.csproj
/PhotonUnityNetworking.Demos.csproj
/PhotonUnityNetworking.Editor.csproj
/PhotonUnityNetworking.Utilities.csproj
/PhotonUnityNetworking.Utilities.Culling.Editor.csproj
/PhotonUnityNetworking.Utilities.PhotonPlayer.Editor.csproj
/PunDemos.DemoHubEditor.csproj
/PunDemos.DemoSlotcarEditor.csproj
/ReadyPlayerMe.AvatarCreator.csproj
/ReadyPlayerMe.AvatarCreator.Editor.csproj
/ReadyPlayerMe.Core.csproj
/ReadyPlayerMe.Core.Editor.csproj
/ReadyPlayerMe.Core.WebGLSample.Editor.csproj
/ReadyPlayerMe.Samples.AvatarCreatorElements.csproj
/ReadyPlayerMe.Samples.AvatarCreatorWizard.csproj
/ReadyPlayerMe.Samples.AvatarLoading.csproj
/ReadyPlayerMe.Samples.AvatarRenders.csproj
/ReadyPlayerMe.Samples.QuickStart.csproj
/ReadyPlayerMe.Samples.WebGLSample.csproj
/Temp
/UserSettings